alembic==1.6.1
altgraph==0.17
aniso8601==9.0.1
arrow==1.1.0
asgiref==3.3.4
auto-py-to-exe==2.8.0
beautifulsoup4==4.9.3
bidict==0.21.2
blinker==1.4
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
coverage==5.5
cycler==0.10.0
DAWG-Python==0.7.2
descartes==1.1.0
Django==3.2.2
dnspython==1.16.0
docopt==0.6.2
docx==0.2.4
docxtpl==0.11.4
Eel==0.14.0
email-validator==1.1.2
eventlet==0.31.0
Flask==1.1.2
Flask-Cache==0.13.1
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-Ext==0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Moment==0.11.0
flask-ngrok==0.0.25
Flask-Pagination==0.0.1
Flask-RESTful==0.3.8
Flask-SocketIO==5.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
jinja2-time==0.2.0
kiwisolver==1.3.1
lxml==4.6.3
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mp3play==0.1.15
mpmath==1.2.1
numpy==1.20.2
pefile==2019.4.18
Pillow==8.2.0
pycparser==2.20
pydub==0.25.1
pygame==2.0.1
pygame-gui==0.5.7
pyglet==1.5.16
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz
pyinstaller-hooks-contrib==2021.1
PyJWT==2.1.0
Pymem==1.8.3
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==2.4.7
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.1.0
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
PyQt5Designer==5.14.1
pyqtgraph==0.12.1
pyTelegramBotAPI==3.7.7
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.17.1
python-editor==1.0.4
python-engineio==4.2.0
python-pptx==0.6.18
python-socketio==5.3.0
pytz==2021.1
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
schedule==1.1.0
Shapely==1.7.1
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.5
SQLAlchemy-serializer==1.3.4.4
sqlparse==0.4.1
sympy==1.8
urllib3==1.26.4
Werkzeug==1.0.1
whichcraft==0.6.1
WTForms==2.3.3
XlsxWriter==1.4.1
zope.event==4.5.0
zope.interface==5.4.0
