{% if pagination is defined and  pagination['pages_amount'] > 1 %}
<nav>
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item {% if pagination['cur_page'] == 0 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(pagination['referrer'], user_id=id, page=pagination['cur_page'], _anchor='news') }}" tabindex="-1">&laquo;</a>
        </li>
        {% for page_num in range(1, pagination['pages_amount'] + 1) %}
        <li class="page-item {% if page_num == pagination['cur_page'] + 1 %}active{% endif %}">
            <a class="page-link" href="{{ url_for(pagination['referrer'], user_id=id, page=page_num, _anchor='news') }}">{{ page_num }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if pagination['cur_page'] == pagination['pages_amount'] - 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(pagination['referrer'], user_id=id, page=pagination['cur_page'] + 2, _anchor='news') }}">&raquo;</a>
        </li>
    </ul>
</nav>
{% endif %}
