<!DOCTYPE html>
<html lang="en">

<body>
    <div class="title">
        <h1>SocialNetwork Account</h1>
        <h4>Изменение учетных данных</h4><br>
    </div>

    <div class="body">
        <h4><b>Привет, {{ username }}!</b></h4>
        <p>
            Для подтверждения почты перейдите по этой ссылке:<br>
            <a href="{{ link }}">{{ link }}</a><br><br>
            Если вы получили это письмо по ошибке, просто игнорируйте его.
        </p>
    </div>

    <div class="footer">
        <br><br><br>
        © SocialNetwork
    </div>
</body>

</html>